main{
  width: 300px;
}

input{
  padding: 10px;
  border-radius: 5px;
  width: 400px;
  font-size: 22px;
  margin: 10px;
}

.beers{
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#beer-list{
  max-width: 600px;
}

.beer-profile {
  width: 200px;
  height: 200px;
  font-size: 20px;
  margin: 5px;

}

.beer-profile > img {
  width: 50px;
  height: 180px;
  align-self: flex-end;
}
